<%= form_with(model: chat_room, remote: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="inline">
    <%= form.submit %>
  </div>
<% end %>
